<button type="button" class="btn btn-primary" (click)="openModal(template)">
  下載申請
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">This is a sample modal dialog box.</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">
      Close
    </button>
  </div>
</ng-template>
