<main class="container">
  <h3>下載專區審核</h3>
  <section class="my-2">
    <div class="row mb-2">
      <div class="col form-inline">
        <label class="">審核類別</label>
        <div class="pl-2">
          <select class="form-control" id="exampleFormControlSelect2">
            <option>請選擇</option>
            <option>發佈審核</option>
            <option>下載審核</option>
          </select>
        </div>
      </div>
      <div class="col form-inline"></div>
    </div>
    <div class="row mb-2">
      <div class="col form-inline">
        <label class="">公告類別</label>
        <div class="pl-2">
          <select class="form-control" id="exampleFormControlSelect2">
            <option>請選擇</option>
            <option>一般公告</option>
            <option>單位公告</option>
            <option>主管公告</option>
          </select>
        </div>
      </div>
      <div class="col form-inline">
        <label class="">公告單位</label>
        <div class="pl-2">
          <select class="form-control" id="exampleFormControlSelect2">
            <option>請選擇</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col form-inline">
        <label class="">發佈日期</label>
        <div class="pl-2 form-inline">
          <div class="">
            <input
              type="text"
              placeholder="起日"
              class="form-control w-100"
              bsDatepicker
              [bsConfig]="{ adaptivePosition: true }"
            />
          </div>
          <span> ~ </span>
          <div class="">
            <input
              type="text"
              placeholder="訖日"
              class="form-control w-100"
              bsDatepicker
              [bsConfig]="{ adaptivePosition: true }"
            />
          </div>
        </div>
      </div>
      <div class="col form-inline">
        <label class="">關鍵字查詢</label>
        <div class="pl-2">
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <button type="button" class="btn btn-primary float-right">查詢</button>
      </div>
    </div>
  </section>
  <section class="my-2 tableSection">
    <div>
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col"><input type="checkbox" name="" id="" /></th>
            <th scope="col"><span>審核類型</span></th>
            <th scope="col"><span>公告類別</span><span>公告名稱</span></th>
            <th scope="col"><span>附件名稱</span></th>
            <th scope="col"><span>檢視單位</span><span>檢視人員</span></th>
            <th scope="col"><span>發佈日期</span><span>發佈者</span></th>
            <th scope="col"><span>上架日期</span><span>下架日期</span></th>
            <th scope="col"><span>下載審核</span><span>審核者</span></th>
            <th scope="col"><span>浮水印</span></th>
            <th scope="col"><span>廢止</span></th>
            <th scope="col"><span>下載申請者</span><span>下載原因</span></th>
            <th scope="col"><span>操作</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" name="" id="" /></th>
            <td>發佈審核</td>
            <td>
              <div class="td-group">
                <span> 一般公告 </span>
                <span> 公司LOGO </span>
              </div>
            </td>
            <td>
              <div class="td-group">
                <span>LOGO</span>
                <span>使用說明</span>
                <span>範例</span>
              </div>
            </td>
            <td>全員工</td>
            <td>
              <div class="td-group">
                <span>2021/3/2</span>
                <span>小朋友(Kid)</span>
              </div>
            </td>
            <td>2021/3/3</td>
            <td></td>
            <td>V</td>
            <td>V</td>
            <td></td>
            <td>
              <button class="btn btn-secondary" (click)="openModal(template)">
                審核
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id="" /></th>
            <td>下鮺審核</td>
            <td>單位公告、稽核單</td>
            <td>稽核單、使用說明</td>
            <td><a href="">中文名字</a></td>
            <td>
              <div class="td-group">
                <span>2021/3/3</span>
                <span>大朋友(Kid)</span>
              </div>
            </td>
            <td>2021/3/20</td>
            <td>大朋友(Kid)</td>
            <td></td>
            <td></td>
            <td>
              <div class="td-group">
                <span>小朋友(Kid)</span>
                <span>評估使用</span>
              </div>
            </td>
            <td>
              <button class="btn btn-secondary" (click)="openModal(template)">
                審核
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>

<!-- FIXME: 用子模組包裹 bootstrap modal -->
<!-- bootstrap modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">審核</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body container">
    <section class="my-2 p-2">
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">公告類別</label>
          <div class="pl-2">
            <span>一般公告</span>
          </div>
        </div>
        <div class="col form-inline">
          <label class="table-primary p-2">公告單位</label>
          <div class="pl-2">
            <span>營運管理處</span>
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">檢視單位</label>
          <div class="pl-2">
            <span>全員工</span>
          </div>
        </div>
        <div class="col form-inline">
          <label class="table-primary p-2">檢視人員</label>
          <div class="pl-2">
            <span></span>
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">發佈日期</label>
          <div class="pl-2">
            <span>2020/12/31</span>
          </div>
        </div>
        <div class="col form-inline">
          <label class="table-primary p-2">發佈者</label>
          <div class="pl-2">
            <span>大朋友(child)</span>
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">上架日期</label>
          <div class="pl-2">
            <span>2021/3/5</span>
          </div>
        </div>
        <div class="col form-inline">
          <label class="table-primary p-2">下架日期</label>
          <div class="pl-2">
            <span></span>
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">下載審核</label>
          <div class="pl-2">
            <input type="checkbox" name="" id="" disabled checked />
          </div>
        </div>
        <div class="col form-inline">
          <label class="table-primary p-2">下載審核者</label>
          <div class="pl-2">
            <span>公告單位主管(Dep_Admin)</span>
          </div>
        </div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">浮水印</label>
          <div class="pl-2">
            <input type="checkbox" name="" id="" disabled checked />
          </div>
        </div>
        <div class="col form-inline"></div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">公告名稱</label>
          <div class="pl-2">
            <span>稽核公告</span>
          </div>
        </div>
        <div class="col form-inline"></div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">附件名稱</label>
          <div class="pl-2">
            <span>稽核表</span>
          </div>
        </div>
        <div class="col form-inline">
          <img
            src="/assets/icons/icons8-microsoft-word-48.png"
            alt=""
            srcset=""
          />
          <img
            src="/assets/icons/icons8-microsoft-excel-48.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <!-- <div class="row mb-2">
        <div class="col form-inline">
          <label></label>
          <div class="ml-5 pl-4">
            <span>使用說明</span>
          </div>
        </div>
        <div class="col form-inline"></div>
      </div> -->
      <!-- <div class="row mb-2">
        <div class="col form-inline">
          <label></label>
          <div class="ml-5 pl-4">
            <span>範例</span>
          </div>
        </div>
        <div class="col form-inline"></div>
      </div> -->
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">下載申請者</label>
          <div class="pl-2">
            <span>大朋友(Kid)</span>
          </div>
        </div>
        <div class="col form-inline"></div>
      </div>
      <hr class="mt-1 mb-1" />
      <div class="row mb-2">
        <div class="col form-inline">
          <label class="table-primary p-2">下載原因</label>
          <div class="pl-2">
            <span>需要使用</span>
          </div>
        </div>
        <div class="col form-inline"></div>
      </div>
      <hr class="mt-1 mb-1" />
    </section>
    <section class="my-2 p-2">
      <div class="row mb-2">
        <div class="col form-inline">
          <label>備註</label>
          <div class="pl-2 offset-md-1">
            <textarea
              name=""
              id=""
              class="form-control"
              cols="50"
              rows="3"
              placeholder="請輸入(退件)原因"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row mb-2"></div>
    </section>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary ml-auto"
      (click)="modalRef.hide()"
    >
      核准
    </button>
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">
      退件
    </button>
    <button
      type="button"
      class="btn btn-secondary mr-auto"
      (click)="modalRef.hide()"
    >
      取消
    </button>
  </div>
</ng-template>
