<div class="side-menu-ctn">
  <div
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic"
    class="title"
    class="title-ctn"
  >
    <img src="/assets/icons/menu_s_01@2x.png" alt="" srcset="" />
    <div>資訊專區</div>
  </div>
  <div
    id="collapseBasic"
    [collapse]="isCollapsed"
    [isAnimated]="true"
    class="group-list-ctn"
  >
    <ul class="group-list">
      <li>公告規章</li>
      <li>最新公告維護設定</li>
      <li><a routerLink="/download"> 下載專區</a></li>
      <li><a routerLink="/maintain">下載專區維護設定</a></li>
      <li><a routerLink="/approval">下載專區審核</a></li>
    </ul>
  </div>
</div>
