.side-menu-ctn {
  width: 224px;
  .title-ctn {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: #f5f6f8;
    cursor: pointer;
    &:hover {
        background-color: white;
    }
    img {
      width: 32px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .group-list-ctn {
    .group-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        padding-left: 50px;
        height: 48px;
        color: #676767;
        cursor: pointer;
        &:hover {
          background-color: #e1f3f9;
        }
        a {
          text-decoration: none;
          color: grey;
        }
      }
    }
  }
}
